<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Photo</title>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
</head>

<body style="min-height: 100vh;">

    <%- include('nav') -%>

        <div class="container d-flex justify-content-center align-items-center mt-4">
            <div class="card w-9">
                <div class="card-body" style="width: 50rem; ">
                    
                    <h5 class="card-title">New Upload</h5>
                    <% if(alert){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= alert %>
                      </div>                      
                    <% } %>

                    <form method="post" action="/new">
                        <div class="form-floating mb-3">
                            <input value="<%= url %>" name="url" type="text" class="form-control" id="urlInput" placeholder="Url">
                            <label for="urlInput">Url</label>
                        </div>
                        <div class="form-floating">
                            <textarea name="description" class="form-control" placeholder="Description" id="descriptionInput"><%= descr %></textarea>
                            <label for="descriptionInput">Description</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="/assets/bootstrap.bundle.min.js"></script>
</body>

</html>